.blog_admin_page {
  .product_info_color {
    padding: 20px;
    .product_info_box {
      padding: 0 !important;
      display: flex !important;
      flex-direction: column;
      .color_list strong,
      span {
        font-size: 14px;
      }
      .color_list div > div {
        overflow: hidden;
      }
      .blog_btn {
        button {
          padding: 10px 20px;
          margin-top: 10px;
          border: none;
          border-radius: 6px;
          cursor: pointer;
          color: var(--color-white);
        }
        button[type="submit"] {
          background-color: var(--color-blue);
        }

        button[type="button"] {
          background-color: var(--color-red);
        }
      }
    }
  }
}
