.admin_page_all {
  padding: 10px 0px;
  margin-top: 20px;
  .light_shadow {
    background-color: var(--color-white);
  }

  .productForm {
    .product_info {
      .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        input,
        select {
          width: 100%;
          border: 1px solid var(--color-light-gray);
          border-radius: 8px;
          padding: 10px;
        }
        textarea {
          resize: vertical;
          width: 100%;
          border-radius: 8px;
          border: 1px solid var(--color-light-gray);
          padding: 10px;
        }
      }
      .form-group.a_flex {
        justify-content: flex-start;
        flex-direction: row;
      }
      .black_friday {
        position: relative;
        top: 10px;
      }
      .header {
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid var(--color-border);
        .left {
          .d_flex {
            gap: 10px;
            align-items: center;
          }
          .number {
            width: 50px !important;
            height: 50px !important;
            border-radius: 50%;
            background-color: var(--color-number-bg);
            span {
              color: var(--color-number-text);
              font-weight: 600;
            }
          }
          .text {
            h4,
            small {
              color: var(--color-gray);
            }
          }
        }

        transition: var(--transition);
      }
      .header.border {
        border-bottom: none !important;
      }
      label {
        color: var(--color-gray);
        font-size: 15px;
      }
      .add_more_btn {
        width: 400px;
        margin-top: 30px;
        span {
          width: 100% !important;
          padding: 10px;
          border-radius: 8px;
          font-size: 13px;
          background-color: var(--color-blue);
          color: var(--color-white);
          cursor: pointer;
        }
      }
      .next_del_btn {
        position: relative;
        top: 10px;
      }
      .remove_btn {
        width: fit-content;
        position: relative;
        z-index: 1 !important;

        span {
          background-color: var(--color-red);
          color: var(--color-white);
          padding: 10px;
          font-size: 13px;
          border-radius: 8px;
          cursor: pointer;

          .icon {
            font-size: 16px;
          }
          .delete_icon {
            font-size: 20px;
          }
        }
      }
      .product___main {
        .product_chart_info {
          padding: 20px;
          width: 100%;
          gap: 20px;
          .light_shadow {
            // min-height: 300px;
            width: 100%;
          }
          .product_right {
            padding: 15px;
            gap: 10px;
            .productTable {
              width: 100%;
              .product_img_text {
                .imageCell {
                  text-align: center;
                  border: 1px solid var(--color-border);
                  border-radius: 10px;
                  .productImg {
                    height: 200px;
                    width: 200px;
                    .img {
                      width: 100%;
                      height: 100%;
                      object-fit: contain;
                      border-radius: 10px;
                    }
                  }
                }
                .textCell {
                  width: 80%;
                  padding: 10px;
                  border: 1px solid var(--color-border);
                  border-radius: 10px;
                  flex-wrap: wrap;
                  div {
                    display: flex;
                    align-items: baseline !important;
                    gap: 5px;
                    flex-wrap: wrap;
                    span {
                      color: var(--color-gray);
                      font-size: 14px;
                    }
                  }
                }
                /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
                @media screen and (max-width: 680px) {
                  width: 100%;
                  .imageCell,
                  .textCell {
                    width: 100% !important;
                    display: block;
                  }
                  .imageCell {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                  }
                  .textCell {
                    margin-top: 10px;
                  }
                }
              }
            }
          }
          /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
          @media screen and (max-width: 945px) {
            flex-direction: column;
          }
        }
      }
      .product_info_box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
        /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        @media screen and (max-width: 745px) {
          grid-template-columns: repeat(2, 1fr);
        }
        /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        @media screen and (max-width: 480px) {
          grid-template-columns: 1fr;
        }
      }
      .features_box {
        .features {
          padding: 20px;
          .more_feature {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
            @media screen and (max-width: 745px) {
              grid-template-columns: repeat(2, 1fr);
            }
            /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
            @media screen and (max-width: 480px) {
              grid-template-columns: 1fr;
            }
            .form-group:nth-child(2) {
              margin-top: 10px;
            }

            .form-group {
              gap: 10px;
              position: relative;
              .sub_features {
                gap: 5px;
              }
              .add_btn {
                margin-top: 10px;
                span {
                  background-color: var(--color-blue);
                  color: var(--color-white);
                  padding: 10px;
                  width: 100px;
                  border-radius: 8px;
                  cursor: pointer;
                  font-size: 13px;
                }
              }
            }
            .first_btn {
              position: relative;
              top: 16px;
            }
          }
        }
      }
      .product_color {
        .product_info_color {
          padding: 20px;
          .product_info_box {
            padding: 0;
            .link_img {
              margin-top: 10px;
            }
          }
        }
      }
      .product_images {
        .product_info_images {
          padding: 15px;
          .product_info_img_box {
            border: 2px dotted var(--color-border);
            min-height: 300px;
            padding: 10px;
            border-radius: 10px;
            .form_group {
              flex-wrap: wrap;
              gap: 10px;
              .display_none {
                display: none;
              }
              .drop_zone {
                position: relative;
                padding-bottom: 0;
                margin-bottom: 0;
                width: 280px;
                height: 280px;
                border-radius: 5px;
                border: 1px dotted var(--color-border);
                overflow: hidden;
                transition: all 0.5s ease-in-out;
                .images {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
                .icon_bg {
                  position: absolute;
                  display: none;
                  width: 100%;
                  height: 100%;
                  left: 0;
                  top: 0;
                  background: rgba(0, 0, 0, 0.081);
                  transition: all 0.5s ease-in-out;
                  .icon {
                    background-color: var(--color-light-gray);
                    padding: 5px;
                    color: rgba(0, 0, 0, 0.5);
                    border-radius: 50%;
                    cursor: pointer;
                    font-size: 22px !important;
                  }
                }
                &:hover {
                  .icon_bg {
                    display: flex;
                  }
                }
              }

              .upload_box {
                border: 1px dotted var(--color-border) !important;
                width: 280px !important ;
                height: 280px !important;
                padding: 8px;
                border-radius: 5px;
                cursor: pointer;
                .inner {
                  text-align: center;
                  .icon {
                    font-size: 28px;
                  }
                }
                &.disabled {
                  cursor: not-allowed;
                }
              }
            }
          }
        }
      }
      .product_info_video {
        .description {
          margin-top: 10px;
        }
      }
      .product_description {
        .product_info_desc {
          .box {
            padding: 20px;
          }
        }
      }
    }
  }
  .bottom_btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    span {
      button {
        padding: 10px;
        border-radius: 8px;
        color: var(--color-white);
        cursor: pointer;
        .icon {
          font-size: 17px;
          margin-right: 3px;
        }
      }
      button:nth-child(1) {
        margin-right: 15px;
        background-color: var(--color-red);
      }
      button:nth-child(2) {
        background-color: var(--color-light-green);
      }
    }
  }
}
.productTitleContainer {
  .productTitle {
    padding: 20px;
    color: var(--color-gray);
  }
}
