.dashboard {
  display: flex;

  .widgets,
  .charts {
    display: flex;
    padding: 20px 0px;
    gap: 20px;
    width: 100%;
  }

  .charts {
    padding: 5px 0px;
  }
  .listContainer {
    box-shadow: var(--light-shadow);
    padding: 20px;
    margin: 20px 0px;
    margin-bottom: 0;
    border-radius: 10px;
    background-color: var(--color-white);
    .listTitle {
      font-weight: 500;
      color: var(--color-gray);
      margin-bottom: 15px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .dashboard {
    .widgets {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 900px) {
  .dashboard {
    .widgets {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .charts {
      flex-direction: column-reverse;
    }
  }
}
@media screen and (max-width: 450px) {
  .dashboard {
    .widgets {
      grid-template-columns: 1fr;
    }
  }
}
