.testimony {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 60px 30px;
  padding-bottom: 30px;
  .content {
    .head {
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 745px) {
        width: 100%;
      }
    }
    .list {
      margin-top: 50px;
      .selfCenter {
        // flex-wrap: wrap;
        gap: 20px;
        /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        @media screen and (max-width: 600px) {
          flex-direction: column;
        }
      }
    }
    .read_more {
      margin-top: 50px;
      a {
        color: var(--color-white);
      }
      h4 {
        border-bottom: 1px solid var(--color-yellow);
      }
      .icon_down {
        margin-top: 15px;
        .icon {
          font-size: 33px;
        }
      }
    }
  }
}
.head {
  text-align: center;
  p {
    margin-bottom: 20px;
  }
  /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
  @media screen and (max-width: 745px) {
    h1 {
      font-size: 22px;
    }
  }
}
