.featured {
  a {
    outline: none;
  }
  .content {
    .header_text {
      margin-bottom: 20px;
      .header {
        margin-bottom: 5px;
        h1 {
          color: var(--color-primary);
          font-size: 26px;
        }

        &::after {
          bottom: 1px;
        }
      }
    }
    .card_list {
      .slick_slider {
        .featured_card {
          .slider_content {
            .slide_list {
              .img_pallet {
                img {
                  min-height: 160px;
                  max-height: 370px;
                }
              }
              .details {
                min-height: 160px;
                .name {
                  width: 100%;
                  .bills_title {
                    width: 100%;
                    min-height: 50px !important;
                  }
                }
                .past_card {
                  .description {
                    min-height: 90px;
                  }
                  .tag_date {
                    margin-top: 5px;
                  }
                  .candidate {
                    width: 100%;
                    margin-top: 10px !important;
                    margin-bottom: 10px;
                    .img {
                      img {
                        width: 30px;
                        height: 30px;
                        object-fit: cover;
                        border-radius: 50%;
                      }
                    }
                  }
                  /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
                  @media screen and (max-width: 900px) {
                    .tag_date {
                      margin-top: 0px;
                    }
                    .candidate {
                      margin-top: 0px !important;
                      margin-bottom: 0px;
                      padding: 5px 0px;
                    }
                  }
                }
                .on_going {
                  .progress_bar {
                    margin: -6px 0px;
                    margin-top: -9px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.featured_card {
  background-color: var(--color-bg-card);
  margin: 10px;
  border-radius: 8px;
  // height: 70vh;
  .slider_content {
    .slide_list {
      .img_pallet {
        position: relative;

        img {
          width: 100%;
          border-radius: 8px;
          outline: none;
        }
        .pallet {
          position: absolute;
          top: 13px;
          left: 19px;
          gap: 5px;
          font-size: 12px;
          padding: 5px 8px;
          background-color: var(--color-bg-green);
          border: 1px solid var(--color-white);
          border-radius: 20px;
          color: var(--color-white);
          .icon {
            font-size: 16px;
          }
        }
      }
      .details {
        padding: 8px 20px;
        min-height: 160px;

        height: 100%;
        .name {
          width: fit-content;
          a {
            width: fit-content !important;
            height: fit-content;
          }
        }
        .status_vote_count {
          margin: 8px 0px;
          margin-bottom: 12px;
          flex-wrap: wrap;
          gap: 10px;
          .status {
            padding: 5px 15px;
            border-radius: 20px;
            .status-text::first-letter {
              text-transform: uppercase;
            }
          }
          .icon {
            font-size: 18px;
          }
          .upcoming_status {
            border: 1px solid var(--color-yellow);
          }
          .ongoing_status {
            border: 1px solid var(--color-light-green);
          }
          .concluded_status {
            border: 1px solid var(--color-red);
          }
          .count {
            gap: 5px;
          }
          .ongoing_count {
            .icon {
              color: var(--color-green);
            }
          }
          .upcoming_count {
            color: var(--color-light-gray);
            .icon {
              color: var(--color-light-gray);
            }
            .conc_icon {
              color: var(--color-red);
            }
            .conc_votes {
              color: var(--color-dark);
            }
          }
        }
        .progress_bar_description {
          .LineProgressBar {
            width: 100% !important;
          }
          .description {
            margin: 6px 0px;
            margin-bottom: 15px;
            p {
              font-size: 13px;
            }
          }
        }
        .up_coming {
          .date {
            margin-bottom: 15px;
            gap: 6px;
            .icon {
              color: var(--color-gray);
              font-size: 16px;
            }
            small {
              font-size: 12px;
            }
          }
        }

        .past_card {
          .tag_date {
            flex-wrap: wrap;
            gap: 6px;
            .tags {
              .list {
                gap: 5px;
                flex-wrap: wrap;
                .tag {
                  padding: 2px 10px;
                  border-radius: 4px;
                  text-wrap: nowrap;
                  &:nth-child(odd) {
                    color: var(--color-yellow);
                    border: 1px solid var(--color-yellow);
                  }
                  &:nth-child(even) {
                    color: var(--color-tag);
                    background-color: var(--color-tag-bg);
                    padding: 3px 10px;
                  }
                }
              }
            }
            .date {
              small {
                font-size: 11px;
              }
            }
          }
          .candidate {
            margin: 9px 0px;
            gap: 10px;
            .img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              object-fit: cover;
            }
            .name_location {
              display: flex;
              flex-direction: column;
              .location {
                margin-top: -3px;
                p {
                  font-size: 11px;
                }
              }
            }
          }
          .description {
            border-bottom: 2px solid var(--color-filter);
            padding: 8px 0px;
            p {
              font-size: 13px;
              color: var(--color-text-gray);
            }
          }
          .yea_nay {
            margin: 15px 0px;
            .yea,
            .nay {
              width: 100%;
              gap: 8px;
              color: var(--color-green);
              .tomb {
                gap: 4px;
              }
              .progress_bar {
                width: 100%;
                position: relative;
                bottom: 3px;
                .LineProgressBar {
                  width: 100%;
                }
              }
            }
            .nay {
              color: var(--color-red);
            }
          }
        }
      }
    }
  }
}
// COMMENT SHARE
.comments_share {
  gap: 10%;
  .a_flex {
    gap: 5px;
  }
  .share {
    cursor: pointer;
  }
}

.featured {
  margin-top: 80px;
  position: relative;
  .content {
    .header_text {
      flex-direction: column;
      align-items: center;

      .header,
      .text {
        text-align: center;
        width: 77%;
      }
      .header {
        width: fit-content;
        position: relative;

        h1 {
          color: var(--color-dark-gray);
          font-weight: 600;
          font-size: 30px;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 16px;
          width: 74%;
          height: 2px;
          background-color: var(--color-yellow);
        }
      }
      .text {
        margin: 30px 0px;
        color: var(--color-text-gray);
      }
    }
    .box {
      margin: 40px 0px;
      .box_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8%;
        width: 90%;

        .list {
          position: relative;

          border-radius: 20px;
          box-shadow: 1px 1px 0px 7px rgba(0, 0, 0, 0.04);
          .list_content {
            position: relative;
            z-index: 2;
            background-color: var(--color-light-bg-green);
            padding: 30px;
            height: 100%;
            border-radius: 20px;
            .img {
              width: 55px;
              height: 55px;
              background-color: var(--color-light-light-green);
              border-radius: 14px;
              img {
                height: 35px;
              }
            }
            .name {
              margin: 10px 0px;
              margin-top: 20px;
              color: var(--color-dark-gray);
              font-weight: 600;
            }
            .description {
              color: var(--color-text-gray);
              font-size: 15px;
            }
          }
          .list_shadow {
            z-index: -1;
            &::before,
            &::after {
              content: "";
              position: absolute;
              width: 100px;
              height: 100px;
              background-color: var(--color-light-green);
            }
            &::before {
              top: -6px;
              right: -8px;
              border-top-right-radius: 20px;
              border-top-left-radius: 20px;
              border-bottom-right-radius: 20px;
            }
            &::after {
              bottom: -8px;
              left: -6px;
              border-top-left-radius: 20px;
              border-bottom-left-radius: 20px;
              border-bottom-right-radius: 20px;
            }
          }
        }

        /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        @media screen and (max-width: 900px) {
          grid-template-columns: repeat(2, 1fr);
        }
        /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        @media screen and (max-width: 480px) {
          grid-template-columns: 1fr;
        }
      }
    }

    /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
    @media screen and (max-width: 545px) {
      .header_text {
        .text {
          width: 90%;
        }
        .header {
          h1 {
            font-size: 22px;
          }
          &::after {
            left: 12px;
          }
        }
      }
    }
  }
}
